Repository virtualidentityag/component-library-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, stylelint --fix

refactor: 💡 update stencil/core
  README.md
  component.js
  package.json
Due: none

refactor(hot reload): hot reload
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  component.js
  package-lock.json
  package.json
Due: none

refactor: 💡 template component library
  .storybook/addon.js
  .storybook/customTheme.js
  .storybook/main.js
  .storybook/manager.js
  LICENSE
  README.md
  component.js
  loader/package.json
  package-lock.json
  package.json
Due: none

refactor: 💡 add stencil docs to storybook notes
  .storybook/addon.js
  .storybook/main.js
  component.js
  package-lock.json
  package.json
Due: none

refactor: 💡 docs
  component.js
  package-lock.json
  package.json
  stencil-readme.config.ts
Due: prettier-eslint --write

feat: 🎸 add dependabot
  dependabot.yml
Due: none

refactor: 💡 package-json
  package.json
Due: none

refactor: 💡 readme
  README.md
Due: none

style: 💄 readme
  README.md
Due: none

Update README.md
  README.md
Due: none

refactor: 💡 renaming project via npm run init
  .storybook/customTheme.js
  .storybook/preview-head.html
  README.md
  component.js
  init.js
  loader/package.json
  package-lock.json
  package.json
  src/assets/readme.md
  src/index.html
  src/manifest.json
  stencil-readme.config.ts
  stencil.config.ts
  typedoc.js
Due: prettier-eslint --write

refactor: 💡 add github workflows and example component
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .storybook/customTheme.js
  .storybook/manager.js
  README.md
  component.js
  init.js
  loader/index.d.ts
  package-lock.json
  package.json
  src/components.d.ts
  src/components/example-component/example-component.scss
  src/components/example-component/example-component.stories.ts
  src/components/example-component/example-component.tsx
  src/components/example-component/readme.md
  src/components/example-component/test/example-component.e2e.ts
  src/components/example-component/test/example-component.spec.tsx
Due: prettier-eslint --write, stylelint --fix

refactor: 💡 example component
  src/components/example-component/example-component.stories.ts
  src/components/example-component/example-component.tsx
Due: prettier-eslint --write

refactor: 💡 adjust key preview.yml
  .github/workflows/preview.yml
Due: none

refactor: 💡 according to marcs comments
  .editorconfig
  .gitignore
  .storybook/main.js
  defaultignore
  package.json
  src/components/example-component/test/example-component.spec.tsx
  src/index.ts
  src/preview/app-home/app-home.css
  src/preview/app-home/app-home.e2e.ts
  src/preview/app-home/app-home.tsx
  src/preview/app-home/readme.md
  src/preview/component-detail/component-detail.tsx
  src/preview/component-detail/readme.md
  src/preview/preview-root/preview-root.e2e.ts
  src/preview/preview-root/preview-root.tsx
  src/preview/preview-root/readme.md
  stencil.config.ts
Due: prettier-eslint --write

refactor: 💡 remove component-json.js
  component-json.js
Due: none

refactor: 💡 remove jest addon
  .storybook/main.js
  .storybook/preview.js
  README.md
  package.json
  src/components/example-component/test/example-component.spec.ts
Due: prettier-eslint --write

Fix version number, change description
  package.json
Due: none

chore: 🤖 Add quality gate- not working!
  .eslintrc
  .prettierignore
  .prettierrc.yml
  package-lock.json
  package.json
Due: none

refactor: 💡 sb-docs
  .storybook/main.js
  component.js
  package-lock.json
  package.json
  src/components/example-component/example-component.stories.ts
  src/components/example-component/readme.md
  stencil-readme.config.ts
  stencil.config.ts
Due: prettier-eslint --write

feat: 🎸 Add screenshot testing
  README.md
  package.json
  screenshot/.gitignore
  src/components/example-component/example-component.stories.ts
  src/components/example-component/test/example-component.e2e.ts
  stencil.config.ts
  test/__mocks__/fileMock.js
  test/__mocks__/styleMock.js
  test/screenshot-stories.ts
Due: prettier-eslint --write

chore: update dependencies
  .eslintignore
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  defaultignore
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.storybook.json
Due: none

chore: update code and builds
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  commitlint.config.js
  component.js
  init.js
  src/components/example-component/example-component.stories.ts
  src/components/example-component/example-component.tsx
  src/components/example-component/test/example-component.spec.ts
  src/global/app.scss
  src/global/app.ts
  src/global/styles/styles.scss
  src/index.html
  src/manifest.json
  src/types/README.md
  stencil-readme.config.ts
  stencil.config.ts
  testing/index.ts
  typedoc.js
  types/global.d.ts
Due: prettier-eslint --write, stylelint --fix

chore: update quality gate dependency
  .eslintrc
  .stylelintrc
  package-lock.json
  package.json
Due: none

fix: testing and coverage
  .eslintignore
  .gitignore
  .stylelintignore
  package.json
  src/components/example-component/test/example-component.spec.ts
Due: prettier-eslint --write

feat: 🎸 jest-addon
  .storybook/main.js
  README.md
  component.js
  package-lock.json
  package.json
Due: none

refactor: 💡 initialization
  defaultignore
  init.js
Due: none

chore: update quality gate dependency
  .browserslistrc
  commitlint.config.js
  package-lock.json
  package.json
Due: none

fix: add browserslist environment variable
  package.json
Due: none

chore: update quality gate dependency
  package-lock.json
  package.json
Due: none

refactor: 💡 jest tests in storybook
  .storybook/preview.js
  README.md
  checkResults.js
  component.js
  package.json
  src/components/example-component/example-component.stories.ts
Due: prettier-eslint --write

chore: revert package versions
  package-lock.json
  package.json
Due: none

ci: 🎡 adjust release, add changelog generation
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

feat: npmrc file added
  .npmrc
Due: none

refactor: 💡 init
  init.js
Due: none

refactor: 💡 jest-addon
  package.json
  src/components/example-component/example-component.stories.ts
  src/components/example-component/test/example-component.spec.tsx
Due: prettier-eslint --write

fix: re-add ignore file
  .gitignore
Due: none

Path conditions:
  prettier-eslint --write: any of: *.ts
  stylelint --fix: any of: *.scss
